{% extends 'auth/auth_base.html' %}
<!--Title-->
{% block title %}Auth - Forgot Password?{% endblock title %}
<!--Content-->
{% block auth-content %} {% load static %}

<div class="center_block auth_form">
  <div>
    <div class="logo marg_bottom-20">
      <a href="#">
        <img src="{% static 'images/main_logo.svg' %}" alt="Main logo" />
      </a>
    </div>
    <p class="marg_bottom-20">
      Введіть електронну пошту, на яку ми надішлемо новий пароль для входу.
      Після успішного входу не забудьте змінити пароль у налаштуваннях для
      забезпечення безпеки.
    </p>
    <form action="#" method="POST">
      {% csrf_token %}
      <label for="id_email" class="input_label">Email</label>
      <input
        type="email"
        name="email"
        autocomplete="email"
        maxlength="254"
        required=""
        id="id_email"
        class="input_base marg_bottom-20"
      />
      <button
        type="submit"
        class="button_full_width button_reset button_primary"
      >
        Надіслати
      </button>
    </form>
  </div>
</div>
{% endblock auth-content %}
