{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF - Document</title>
    <link rel="stylesheet" href="{% static 'css/pdf-styles.css' %}">
</head>
<body>
    <div class="d-flex container">
        <div class="pdf-side-bar">
            <div class="text-center">
                <img src="{% static 'images/main_logo.png' %}" alt="Main logo">
                <h4>{{ block_template.name }}</h4>
                <p class="fz-sm">Cтворена - {{ response.submitted_at|date:"Y-m-d / H:i" }}</p>
            </div>
        </div>
        <div class="pdf-main-content">  
            <h1>Анкета - {{ block_template.name }}</h1>
            <div class="pdf-content">
                {% group_by_combined_block response.field_responses.all as grouped_responses %}
                {% for combined_block, fields in grouped_responses %}
                    {% if combined_block.description_field %}
                        <div class="">
                            <hr class=""/>
                            <h3 style="color: #515151;">{{ combined_block.description_field.title }}</h3>
                            <p style="color: #777777;">{{ combined_block.description_field.description }}</p>
                            <hr class=""/>
                        </div>
                    {% endif %}
                    <div></div>

                    <div class="marg_bottom-20">
                        {% for field_response in fields %}
                            <p class="marg_bottom-10">
                                {% if field_response.field.field_type == 'boolean' %}
                                    <b>{{ field_response.field.name }}:</b> 
                                    {% if field_response.value == 'on' %}Так{% else %}Ні{% endif %}
                                {% else %}
                                    <b>{{ field_response.field.name }}:</b> {{ field_response.value }}
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>