{% extends 'dashboard/dashboard_base.html' %}
<!--Title-->
{% block title %}Dashboard - Resumes{% endblock title %} {% load static %}
<!--Main content-->
<!-- Styles -->
{% block styles %}
<link
    rel="stylesheet"
    href="{% static 'css/dashboard/library/library.css' %}"
/>
<link
    rel="stylesheet"
    href="{% static 'css/dashboard/questionnaires/questionnaires.css' %}"
/>
<link
    rel="stylesheet"
    href="{% static 'css/dashboard/resumes/resumes.css' %}"
/>
{% endblock styles %}
<!-- Styles -->
<!--Header-->
{% block back %}
<div class="back-button">
    <a href="{% url 'questionnaires' %}">
        <img src="{% static 'images/icons/arrow-left.svg' %}" alt="Back button" />
    </a>
</div>
{% endblock back %}
<!---->
{% block title_page %}Результати анкети{% endblock title_page %}
<!--Header-->

<!--Content-->
{% block main %}
<h2>Результати анкети: {{ block_template.name }}</h2>

{% for response in responses %}
    <h3>Відповідь №{{ response.id }} ({{ response.submitted_at }})</h3>
    <ul>
        {% for field_response in response.field_responses.all %}
            {% if field_response.field %}
                <li>
                    {% if field_response.field.field_type == 'boolean' %}
                        <b>{{ field_response.field.name }}:</b> {% if field_response.value == 'on' %}Так{% else %}Ні{% endif %}
                    {% else %}
                    <b>{{ field_response.field.name }}:</b> {{ field_response.value }}
                    {% endif %}
                </li>
            {% elif field_response.combined_block %}
                <ul>
                    <li>Із комбінованиї блоків <b>{{ field_response.field }}</b> - {{ field_response.value }}</li>
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
{% endblock main %}
<!--Content-->
<!--Scripts-->
{% block scripts %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock scripts %}
<!--Scripts-->