{% extends 'dashboard/dashboard_base.html' %}
{% load custom_tags %}
<!--Title-->
{% block title %}Dashboard - Resumes{% endblock title %} {% load static %}
<!--Main content-->
<!-- Styles -->
{% block styles %}
<link
    rel="stylesheet"
    href="{% static 'css/dashboard/library/library.css' %}"
/>
<link
    rel="stylesheet"
    href="{% static 'css/dashboard/questionnaires/questionnaires.css' %}"
/>
<link
    rel="stylesheet"
    href="{% static 'css/dashboard/resumes/resumes.css' %}"
/>
{% endblock styles %}
<!-- Styles -->
<!--Header-->
{% block back %}
<div class="back-button">
    <a href="{% url 'questionnaires' %}">
        <img src="{% static 'images/icons/arrow-left.svg' %}" alt="Back button" />
    </a>
</div>
{% endblock back %}
<!---->
{% block title_page %}Перегляд анкети {{ block_template.id }}{% endblock title_page %}
<!--Header-->

<!--Content-->
{% block main %}
<p class="marg_bottom-10"><b>Назва анкети:</b> {{ block_template.name }}</p>
<p class="marg_bottom-10"><b>Посилання створив:</b>  {{ request.user.email }}</p>
<p class="marg_bottom-10"><b>Анкета заповнена:</b>  {{ response.submitted_at}}</p>
<p class="marg_bottom-10"><b>Мова:</b> CZ</p>
<p class="marg_bottom-10"><b>Посилання на анкету:</b>  {{ pre_url }}{% url 'submit_survey' block_template.uuid %}</p>
<p class="marg_bottom-10"><b>Код активації: </b>123456</p>
<p class="marg_bottom-10"><button type="button" class="button_primary button_reset button_sm">Показати інформацію про заповнення</button></p>

    <div style="background-color: rgba(0, 0,0 , 0.05)">
        {% group_by_combined_block response.field_responses.all as grouped_responses %}

        {% for combined_block, fields in grouped_responses %}
            {% if combined_block.description_field %}
                <h3>{{ combined_block.description_field.title }}</h3>
                <p>{{ combined_block.description_field.description }}</p>
            {% endif %}

            <div class="marg_bottom-10">
                {% for field_response in fields %}
                    <p>
                        {% if field_response.field.field_type == 'boolean' %}
                            <b>{{ field_response.field.name }}:</b> 
                            {% if field_response.value == 'on' %}Так{% else %}Ні{% endif %}
                        {% else %}
                            <b>{{ field_response.field.name }}:</b> {{ field_response.value }}
                        {% endif %}
                    </p>
                {% endfor %}
                </div>
        {% endfor %}

    </div>
{% endblock main %}
<!--Content-->
<!--Scripts-->
{% block scripts %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock scripts %}
<!--Scripts-->